@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap");
body {
    font-family: Prompt, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.user-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 15px;
    background-color: #efeeed;
    border: 2px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.user-card:hover {
    transform: scale(1.02);
    background-color: #dfe6fd;
    border: 2px solid #adacac;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

.user-list, .user-detail, .posts-list {
    margin-top: 20px;
}

.user-list div, .user-detail div, .posts-list div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.user-list div:last-child, .user-detail div:last-child, .posts-list div:last-child {
    border-bottom: none;
}

.comments div {
    background-color: #f0f1fb;
    margin: 6px;
    border-radius: 12px;
}
.back-button {
    display: inline-block;
    margin-bottom: 20px;
    color: #1059a7;
    text-decoration: none;
    font-size: 16px;
    padding: 6px 10px;
    border: 2px solid #1059a7;
    border-radius: 30px;
}

.back-button:hover {
    text-decoration: underline;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.view-posts-btn {
    background-color: #447fbd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
}

.view-posts-btn:hover {
    background-color: #20b1ae;
}

.toggle-comments-btn {
    background-color: #914fcf;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
}
.toggle-comments-btn:hover {
    background-color: #c588fe;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
}
